In [6]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns
plt.style.use('ggplot')

In [7]:
df = pd.read_csv('datasets/nvidia_stock_data_2024.csv')

In [8]:
df.shape

(6509, 7)

In [9]:
df.head(20)

          Date      Open      High       Low     Close  Adj Close      Volume
0   1999-01-22  0.043750  0.048828  0.038802  0.041016   0.017325  2714688000
1   1999-01-25  0.044271  0.045833  0.041016  0.045313   0.019140   510480000
2   1999-01-26  0.045833  0.046745  0.041146  0.041797   0.017655   343200000
3   1999-01-27  0.041927  0.042969  0.039583  0.041667   0.017600   244368000
4   1999-01-28  0.041667  0.041927  0.041276  0.041536   0.017544   227520000
5   1999-01-29  0.041536  0.041667  0.039583  0.039583   0.016720   244032000
6   1999-02-01  0.039583  0.040625  0.039583  0.040365   0.017050   154704000
7   1999-02-02  0.039583  0.040625  0.036068  0.037240   0.015730   264096000
8   1999-02-03  0.036719  0.038542  0.036458  0.038021   0.016060    75120000
9   1999-02-04  0.038542  0.041146  0.038021  0.040104   0.016940   181920000
10  1999-02-05  0.040755  0.041667  0.039714  0.041276   0.017435   136848000
11  1999-02-08  0.041536  0.041667  0.039844  0.039844   0.016830   154080000
12  1999-02-09  0.040625  0.040885  0.037760  0.038281   0.016170    86976000
13  1999-02-10  0.038281  0.039323  0.037240  0.037891   0.016005   148224000
14  1999-02-11  0.038021  0.042708  0.038021  0.041146   0.017380   132240000
15  1999-02-12  0.041667  0.043750  0.041667  0.043490   0.018370   109728000
16  1999-02-16  0.044271  0.046094  0.039323  0.043750   0.018480   211008000
17  1999-02-17  0.042708  0.043229  0.040625  0.041406   0.017490    67728000
18  1999-02-18  0.042708  0.043229  0.040885  0.042057   0.017765    70704000
19  1999-02-19  0.041667  0.044271  0.041146  0.043490   0.018370    75360000

In [10]:
df.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [11]:
df.describe()

,Open,High,Low,Close,Adj Close,Volume
count,6509.000000,6509.000000,6509.000000,6509.000000,6509.000000,6.509000e+03
mean,7.846563,7.989922,7.689917,7.846531,7.679767,6.017739e+08
std,21.342285,21.722479,20.897965,21.325616,21.373121,4.311185e+08
min,0.034896,0.035547,0.033333,0.034115,0.014410,1.968000e+07
25%,0.279427,0.287250,0.272250,0.279250,0.117953,3.413160e+08
50%,0.462750,0.469500,0.456250,0.463000,0.212784,5.033400e+08
75%,4.450750,4.514500,4.378250,4.466500,4.219250,7.326760e+08
max,149.350006,152.889999,146.259995,148.880005,148.880005,9.230856e+09